@use 'variables';
@use 'mixins';

.details{
    padding: 24px;
    &__company{
        color: variables.$Orange;
        text-transform: uppercase;
        font-size: 0.8em;
        letter-spacing: 1px;
        margin-bottom: 12px;
    }
    &__title{
        font-size: 1.7em;
        margin-bottom: 16px;
    }
    &__description{
        font-size: 0.94em;
        color: variables.$Dark-grayish-blue;
        line-height: 24px;
        margin-bottom: 24px;
    }
    &__prices{
        // border: 1px solid red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
        @media (min-width: 1115px){
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__now{
        font-size: 1.8em;
        font-weight: 700;
        display: flex;
        gap: 18px;
        // border: 1px solid black;
        align-items: center;
        
    }
    &__discount{
        font-size: 0.5em;
        background-color: variables.$Pale-orange;
        color: variables.$Orange;
        padding: 4px;
        border-radius: 4px;
    }
    &__before{
        font-weight: 700;
        color: variables.$Dark-grayish-blue;
        text-decoration: line-through;
    }
    &__product-quantity{
        @media (min-width: 1115px){
            display: flex;
            gap: 32px;
        }
    }
    &__button{
        @include mixins.button;    
    }
    @media (min-width: 1115px){
        padding-top: 60px;
        &__title{
            font-size: 2.7em;
            margin-bottom: 48px;
        }
        &__description{
            font-size: 0.9em;
            margin-bottom: 37px;
        }
    }
}