@use 'variables';
@use 'mixins';

.gallery{
    width: 375px;
    &__image-container{
        width: 100%;
        height: 300px;
        background-image: url('../images/image-product-1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -35px;
        position: relative;
        &:hover{
            cursor: pointer;
        }
    }
    &__previus{
        @include mixins.image-btn(130px, 15px, false);
    }
    &__next{
        @include mixins.image-btn(130px, 320px, false);
    }
    &__thumnails{
        display: none;
        @media (min-width: 1115px){
            width: 100%;
            // border: 3px solid black;
            display: flex;
            width: 446px;
            justify-content: space-between;
        }
    }
    &__thumnail{
        width: 90px;
        height: 90px;
        border-radius: 16px;
        &:hover{
            border: 2px solid variables.$Orange;
            cursor: pointer;
        }
    }
    @media (min-width: 1115px){
        width: 446px;
        &__image-container{
            background-position-y: 0;
            height: 446px; 
            border-radius: 16px;
            margin-bottom: 32px;
        }
    }
}