@use 'variables';

.header{
    // border: 1px solid red;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 68px;
    @media (min-width: 1115px){
        padding: 0 24px 0 0;
        height: 112px;
        border-bottom: 1px solid variables.$Grayish-blue;
    }
    &__navigation{
        width: 175px;
        height: 100%;
        // border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (min-width: 1115px){
            width: 590px;
        }
    }
    &__menu{
        &:hover{
            cursor: pointer;
        }
        @media (min-width: 1115px){
            display: none;
        }
    }
    
    &__cart-avatar{
        // border: 1px solid black;
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (min-width: 1115px){
            width: 125px;
        }
    }
    &__cart{
        position: relative;
        &--notification{
            display: none;
            width: 15px;
            height: 12px;
            border-radius: 16px;
            background-color: variables.$Orange;
            position: absolute;
            top: -2px;
            right: -5px;
            color: variables.$White;
            text-align: center;
            font-size: 0.6em;
        }
        &:hover{
            cursor: pointer;
        }
    }
    &__avatar{
        width: 24px;
        @media (min-width: 1115px){
            width: 48px;
        }
        &:hover{
            // border: 2px solid variables.$Orange;
            cursor: pointer;
            border: 2px solid variables.$Orange;
            border-radius: 50%;
        }
    }

}