@use 'variables';
@use 'mixins';

.input{

    height: 57px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    background-color: variables.$Light-grayish-blue;
    border-radius: 8px;
    margin-bottom: 16px;
    &__plus{
        @include mixins.changeNumber(19px);
    }
    &__number{
        width: 100%;
        height: 100%;
        border: none;
        font-size: 1.2em;
        text-align: center;
        font-family: variables.$Font;
        font-weight: 700;
        background-color: variables.$Light-grayish-blue;
    }    
    &__minus{
        @include mixins.changeNumber(25px);
    }
    @media (min-width: 1115px){
        width: 200px;
        // border: 1px solid;
        padding: 0 10px;
    }
}