@use 'variables';

.navbar{
    width: 400px;
    display: none;
    
    &__items{
        width: 100%;
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    &__link{
        text-decoration: none;
        color: variables.$Dark-grayish-blue;    
        // display: flex;
        // align-items: center;
        padding-top: 42px;
        display: block;
        height: 112px;
        &:hover{
            border-bottom: 4px solid variables.$Orange;   
            color: variables.$Very-vark-blue;
        }
    }
    @media(min-width: 1115px){
        display: flex;
        flex-direction: row;
    }
}