@use 'variables';
@use 'initial';
@use 'navbar';
@use 'header';
@use 'gallery';
@use 'details';
@use 'mixins';
@use 'footer';
@use 'modal-navbar';
@use 'input';
@use 'modal-cart';
@use 'modal-gallery';

.main-container{
    margin: 12px auto;
    // border: 1px solid black;
    width: 375px;
    position: relative;
    @media (min-width: 1115px){
        width: 1115px;
    }
}
.content{
    @media (min-width:1115px){
        display: flex;
        padding: 90px 50px;
        gap: 124px;
    }
}

.show{
    display: 'block';
}